.portada {
    position: relative;
    width: 100vw;
    height: 100vh;
    color: #303030;
    & .title{
        position: relative;
        text-align: center;

    }
    & .description {
        position: relative;
        text-align: center;
    }

}