.portada {
    position: relative;
    width: 100vw;
    max-height: 100vh;
    & .title{
        position: relative;
        text-align: center;

    }
    & .description {
        position: relative;
        text-align: center;
    }

}