.appDark {
    background-color: #303030;
    color: White;
    background-image: url("../../images/Portadadarkexport.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center
}
.appLight {
    background-color: #f5f5f5;
    color: #303030;
    background-image: url("../../images/Portadalightexport.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center
}
.nobg {
    background-image: none;
}
.darkModeButton {
    position: fixed;
    top: 120px;
    right: 20px;

    & button {
        
        width: 40px;
        height: 50px;
        background-color: transparent;
        font-size: 40px;
        border: none;

    }
    
}

