.appDark {
    background-color: #303030;
    color: White;
    background-image: url("../../images/darkmode.jpg");
}
.appLight {
    background-color: whitesmoke;
    color: #303030;
    background-image: url("../../images/lightmode.png");
}
.darkModeButton {
    position: fixed;
    top: 60px;
    right: 50px;
    & button {
        border-radius: 30px;
        box-shadow: inset;
        width: 50px;
        height: 50px;
    }
    
}

