.comment-box {
    position: absolute;
    
}
textarea {
    position: relative;
    margin: 0 auto;
    justify-content: center;
    border: 1px solid grey;
    width: 500px;
    height: 100px;
    background-color: orange;


}
.submit {
    position: relative;
    margin: 0 auto;
    

}
button {
    width: 130px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid grey;
    
}
