.containerForm {
    position: absolute;
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    top: 0px;
    background-color: rgb(130, 126, 126);
    
} 
.form {
    position: relative;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    background-color: orange;
    width: 500px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 0px rgba(128, 128, 128, 0.381) ;

    input {
        width: 400px;
        height: 30px;
    }
    p {
        color: black;
    }
    button {
        margin-top: 20px;
        background-color: whitesmoke;
        width: 150px;
        height: 30px;
        border: 1px solid grey;
        box-shadow: 1px 1px ;
    }
    


}

