.contactButton {
    position: fixed;
    bottom: 70px;
    left: 50px; 
    z-index: 100;
    .buttonContact {
        border-radius: 10px;
        height: 40px;
        width: 150px;
    }
    :hover {
        background-color: rgb(255, 166, 0);
        color: black;
        font-style: bold;
      }
}