.navbar {
    position: fixed;
    top: 240px;
    left: -241px;
    padding: 10px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    transform: rotate(270deg);
    background-color: #303030;
    color: whitesmoke;
    z-index: 100;
    .link {
        color: whitesmoke;
        text-decoration: none;
    }
    
  }