.container {
    position: absolute;
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    top: 0px;
    background-color: whitesmoke;
}
.title-container {
    margin: 0 auto;
}

.container_projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 300px;
    padding: 30px;
}
.project {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    width:400px;
    h3 {
        font-size:13px;
    }
    p {
        font-size: 9px; 
    }
    image {
        width: 100px;
        height: 80px;

    }

}


