.app {
  text-align: center;
}

.navbar {
  position: relative;
  padding: 15px;
  display: flex;
  
}

.appDark {
  background-color: #303030;
  color: whitesmoke;
  width: 100vw;
  height: 100vh;
}
.appLight {
  background-color: whitesmoke;
  color: #303030;
  width: 100vw;
  height: 100vh;
}