.commentsPage {
    position: absolute;
  display:flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  top: 0px;
  background-color: whitesmoke;
  margin: 0 auto;
}
.commentsBox {
    display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 0 auto;
 
}